<button (click) = "toggleDisplay()" >Display Details</button>
<p *ngIf="showSecretPara">Secret Password = "Sahil"</p>

<div *ngFor="let item of logArr"
[ngStyle]="{backgroundColor : item >= 5 ? 'blue' : 'transparent'}"
[ngClass]="{'whiteFont' : item >= 5}"
>{{ item }}</div>

<div [ngSwitch]="fruit">
    <div *ngSwitchCase="'Apple'.toLowerCase()">You have selected {{fruit}} </div>
    <div *ngSwitchCase="'Mango'.toLowerCase()">You have selected {{fruit}}</div>
    <div *ngSwitchCase="'Banana'.toLowerCase()">You have selected {{fruit}}</div>
    <div *ngSwitchCase="'Orange'.toLowerCase()">You have selected {{fruit}}</div>
    <div *ngSwitchDefault>Fruit not available</div>

</div>

<div *ngFor="let item of logArr; even as e">
    <h1> {{ e }} {{item}}</h1>
</div>

<div>{{title}}</div>
<div *ngFor="let item of fruits">
    <ul>
    <li>{{ item }}</li>
    </ul>
</div>

<div *ngFor="let item of myObj | keyvalue">{{item.value}}</div>

<button (click) = "sendData()"> Click to send data</button>