<!-- <h1>Assignment 1 of Learning Angular</h1>
<app-warning-alert></app-warning-alert>
<app-success-alert></app-success-alert>

<h1>Assignment 2 of Learning Angular</h1>
<app-form></app-form>

<h1>Assignment 3 of Learning Angular</h1>
<app-thirdtask [title]="title"></app-thirdtask>
<app-thirdtask [fruits]="fruitsArr"></app-thirdtask>
 <app-thirdtask (myEvent)="fruits=$event"></app-thirdtask>
 <div *ngFor="let item of fruits"> 
    item from child
    {{item}}</div>

<h1>Assignment 4 of Learning Angular</h1>
<app-forth-task></app-forth-task> -->

<!-- <div class="container">
    <app-game-control (gameStarted)="onGameStarted($event)"></app-game-control>
    <hr>
    <div class="row">
        <h1 class="col-md-6">Odd Numbers</h1>
        <h1 class="col-md-6">Even Numbers</h1>

    </div>
    <div class="row">
        <div class="col-md-6 center">
            <app-odd *ngFor="let index of oddNumberArr" [oddNumber] = index></app-odd>
        </div>
        <div class="col-md-6">
            <app-even *ngFor="let index of evenNumberArr" [evenNumber] = index></app-even>
        </div>
    </div>


</div> -->

<div class="container">
    <!-- <div class="row">
        <h1 myFirstCustomDirective [hoverColor]="'pink'" [hoverFont]="'15rem'">My Custom Directive</h1>
    </div> -->
    <!-- <div class="row">
        <h2 appSecondCustomDirective>Second Custom Directive</h2>
    </div> -->
    <!-- <div appSecondCustomDirective class="row">
        <div id="myCustomContainer">
        </div>
    </div> -->

    <h1>Active Users</h1>
    <app-active-users *ngFor="let item of activeUsers" [users]="item"></app-active-users>

    <hr>
    
    <h1>In Active Users</h1>
    <app-inactive-users *ngFor="let item of inactiveUsers" [users]="item"></app-inactive-users>
</div>